* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
}

body {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1 {
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 78px;
    z-index: 90;
    text-transform: uppercase;
    text-shadow: #d86901 0 0 25px;
}
a {
    color: #ff7d04;
    transition: 1s;
    text-decoration: none;
}
a:hover {
    color: white;
    transform: scale(1.4);
}

span {
    color: #341601;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: #ffffff;
}

.container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 20px;
    animation: appear 1ms ease-in-out forwards;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

section.module p {
    margin-bottom: 40px;
}

section.module p:last-child {
    margin-bottom: 0px;
}

section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content {
    padding: 40px 0;
    background: #00697c;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9;
    background: -moz-linear-gradient(to bottom, rgba(94, 8, 8, 0) 0, rgba(0, 0, 0, 0) 40%, #ffffff 100%);
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #ffffff 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #efecece6 100%);
    background: linear-gradient(to bottom, rgba(230, 6, 6, 0) 0, rgba(255, 4, 4, 0) 40%, #000000 100%);
}

.footer {
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    gap: 25px;
}
.icons a:hover {
    background-color: #00697c;
}
.icons a {
    background-color: #d86901;
    padding: 20px;
    border-radius: 10px;
}
.icons a:nth-child(3) {
    background-color: transparent;
}

a img:hover {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

section.module.parallax-1 {
    background-image: url(Imagens/Basquete_12.jpeg);
}

section.module.parallax-2 {
    background-image: url(Imagens/Baquete_.webp);
}

section.module.parallax-3 {
    background-image: url(Imagens/Basquete_5.webp);
}

section.module.parallax-4 {
    background-image: url(Imagens/Basuquete_6.webp);
}

section.module.parallax-5 {
    background-image: url(Imagens/Basquete_15.jpeg);
}

.title-1,
.title-2,
.title-3,
.title-4,
.title-5 {
    visibility: hidden;
}

@keyframes appear {
    from {
        opacity: 0;
        translate: -10vw 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    h1 {
        font-size: 50px;
        text-shadow: #d86901 0 0 15px;
    }
    
    .container {
        padding: 30px;
    }

    section.module h2 {
        font-size: 22px;
    }

    section.module.parallax {
        height: 90vh !important; /* Ajusta o tamanho da seção em dispositivos menores */
        background-attachment: scroll; /* Remove o efeito de fixação para melhorar o desempenho */
    }

    .icons {
      
        gap: 15px;
        padding: 20px;

    }

    .icons a {
        padding: 10px;
    }

    span {
        font-size: 24px;
    }


}
